.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.edit-form {
  max-width: 400px;
  margin: auto;
}

img {
  width: 300px;
  height: auto;
}

#espacio {
  padding-left: 950px;
  padding-right: 970px;
}

body {
  background: url(https://img.freepik.com/foto-gratis/fondo-acuarela-pintada-mano-forma-cielo-nubes_24972-1095.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}