<body>
    <app-nav></app-nav>
    <br>
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <h1> Información La Rabida </h1>
        </div>
    </div>
    <br>


    <div class="row">
        <div class="col-md-7">
            <p id="historia">El Instituto de Enseñanza Secundaria “La Rábida” fue fundado por la Real Orden de 13 de
                junio
                de 1856 como
                Instituto de Segunda Enseñanza durante el reinado de Isabel II y se inauguró oficialmente en octubre del
                mismo año por el Gobernador Civil de Huelva, Adolfo de Castro, y el entonces director del instituto
                Vicente
                Rodríguez García. En su historia ha pasado por numerosas sedes, la primera el Convento de San Francisco,
                hoy Iglesia de los Jesuitas; el Convento de la Merced, hoy Universidad, que en Huelva se le conoce como
                Instituto Viejo; y la actual en la Avenida de Manuel Siurot desde el curso 1933-34. El arquitecto de la
                actual sede del centro fue Pérez Carasa.
                <br><br>
                Su estilo es difícil de enmarcar pues presenta rasgos de todos los estilos que por aquel entonces
                estaban de
                moda (historicismo, modernismo, neomudejarismo, neogoticismo,...) que hacen de su arquitectura algo
                personal. Lo que sí es identificativo es que fue diseñado y construido en una época en la que la
                funcionalidad de la arquitectura empieza a ser uno de sus signos de identidad, se muestra como máximo
                ejemplo de la obra de este singular arquitecto, que supo adecuar esta obra al entorno natural de la
                capital
                onubense, pues el edificio se abre y eleva en/con el cabezo en el que se asienta. Las obras se
                extendieron
                entre 1926 y 1933.
            </p>
        </div>
        <div class="col-md-5">
            <img src="./assets/Rabida_Informacion.jpg" alt="RabidaImagen">
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            &nbsp;
            &nbsp;
            <img src="./assets/AntiguaRabida.jpg" alt="RabidaAntigua">
        </div>

        <div class="col-md-7">
            <p id="historia">De este centro destacan dos antiguos alumnos: <br>
                - Antonia Arrobas y Pérez fue la primera mujer matriculada oficialmente para realizar la Enseñanza Media
                en
                España (1871). Natural de Talavera la Real hija de un carpintero y una ama de casa, solicitó examinarse
                en
                el instituto onubense para dar validez a los estudios de Segunda Enseñanza que había realizado de forma
                privada, pero en aquel tiempo en el terreno educativo la norma vigente utilizaba el término alumno para
                referirse a todo proceso de matriculación, entendiendo así los legisladores que esto excluía a las
                mujeres.
                Es por ello que la demanda de Arrobas tuvo que ser derivada al rector de la Universidad de Sevilla y al
                director general de Instrucción Pública, que al final concedieron el permiso. <br>
                - Juan Ramón Jiménez, poeta español ganador del Premio Nobel de Literatura en 1956, realizó sus estudios
                también en este centro educativo. <br><br>
                El instituto sirvió de real aposento en la visita que el Rey Alfonso XII hizo a la ciudad de Huelva en
                el
                año 1882. En 1903 se establece en el instituto la primera estación meteorológica de Huelva y su
                provincia.
                Fue dirigida por profesores del centro y a ellos se deben los primeros datos oficiales de clima de los
                que
                se disponen en la provincia y ciudad. En este centro se fundaron en el siglo XIX las primeras escuelas
                para obreros o profesionales de Huelva.
                El Instituto La Rábida es distinguido como Instituto Histórico Educativo de Andalucía. Los centros
                reconocidos como tales forman parte de una Red de Institutos Históricos Educativos de Andalucía y pueden
                compartir recursos, experiencias e iniciativas, así como difundir su historia mediante proyectos
                educativos.
                <br>
                Para mas información del I.E.S La Rábida te invitamos a ver nuestra <a id="web"
                    href="https://iesrabida.es/">Web Oficial</a>
            </p>
        </div>
    </div>


    <app-footer></app-footer>
</body>