<footer class="bg-primary text-white text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5>Erasmus+ </h5>

                <p>
                    Conoce los objetivos, actividades y productos de nuestro proyecto ERASMUS+: PUNTO DE ENCUENTRO:
                    LEONARDO DA VINCI. Los colegios colaboradores: IES Carlo María Carafa, S. Sint Ursula (Italia) e IES
                    La Rábida (Huelva) han identificado la necesidad de concienciar sobre el Patrimonio Cultural y
                    Natural local y los referentes culturales europeos, en concreto, Leonardo Da Vinci.
                </p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5>Enlaces de Interes </h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a class="links text-white" routerLink="/blog_rabida">Blog IES La Rabida</a>
                    </li>
                    <li>
                        <a class="links text-white" routerLink="/blog_carlomaria">Blog IISS Carlo Maria
                            Carafa</a>
                    </li>
                    <li>
                        <a class="links text-white" routerLink="/informacion_rabida">Información
                            Rabida</a>
                    </li>
                    <li>
                        <a class="links text-white" routerLink="/informacion_carlomaria">Información Carlo
                            Maria Carafa</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5>Redes Sociales </h5>

                <ul class="list-unstyled">
                    <li>
                        <a target="_blank" class="text-white links" href="https://es-es.facebook.com/pages/category/Education/IES-La-R%C3%A1bida-661394063892252/">Facebook IES La Rabida</a>
                    </li>
                    <li>
                        <a target="_blank" class="text-white links" href="https://es-es.facebook.com/IsissCarloMariaCarafaMazzarino/">Facebook Carlo Maria</a>
                    </li>
                    <li>
                        <a target="_blank" class="text-white links" href="https://www.instagram.com/ieslarabida/">Instagram IES La Rabida</a>
                    </li>
                    <li>
                        <a target="_blank" class="text-white links" href="https://www.instagram.com/iisscarlomariacarafa/">Instagram Carlo Maria</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        ©2022 Erasmus+ Meeting Point: Leonardo Da Vinci | <a target="_blank" id="link"
            href="https://snchezz.github.io/LinktreeSnchezz/links">Andrés Sánchez Productions</a>
    </div>
</footer>