<body>
    <app-nav></app-nav>
    <br>
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <h1> Contacta con el equipo directivo del erasmus </h1>
        </div>
    </div>
    <br>


    <div class="row">
        <div class="col-md-6">
            <div class="col-sm-12 d-flex justify-content-center">
                <h3> Contacto IES La Rabida </h3>
            </div>
            <div class="col-sm-12 d-flex justify-content-left">
                <p>Juan Muñoz, responsable Erasmus+ (Huelva) | Dirección del Blog</p>
            </div>
            <div class="col-sm-12 d-flex justify-content-left">
                <p>Por correo: <a class="web" href="mailto:erasmusrabida@gmail.com">erasmusrabida@gmail.com</a> </p>
            </div>
            <div class="col-sm-12 d-flex justify-content-left">
                <p>Por teléfono: <a class="web" href="tel:34678230123@gmail.com">678 23 01 23</a> </p>
            </div>
            <div class="col-sm-12 d-flex justify-content-left">
                <p>Centro:</p>
            </div>
            <div class="col-sm-12 d-flex justify-content-center">
                <iframe class="maps"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3175.3211902204207!2d-6.9527803745088015!3d37.26380999417545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd11d01f0c52cf49%3A0x4315ef94874680a8!2sIES%20La%20R%C3%A1bida!5e0!3m2!1ses!2ses!4v1652137041290!5m2!1ses!2ses"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>


        </div>
        <div class="col-md-6">
            <div class="col-sm-12 d-flex justify-content-center">
                <h3> Contacto Carlo Maria </h3>
            </div>
            <div class="col-sm-12 d-flex justify-content-left">
                <p>Giovanni Esposito, responsable Erasmus+ (Italia)</p>
            </div>
            <div class="col-sm-12 d-flex justify-content-left">
                <p>Por correo: <a class="web" href="mailto:erasmuscarlomaria@gmail.com">erasmuscarlomaria@gmail.com</a> </p>
            </div>
            <div class="col-sm-12 d-flex justify-content-left">
                <p>Por teléfono: <a class="web" href="tel:+390934381664@gmail.com">093 43 81 664</a> </p>
            </div>
            <div class="col-sm-12 d-flex justify-content-left">
                <p>Centro:</p>
            </div>
            <div class="col-sm-12 d-flex justify-content-center">
                <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1122.4149286608497!2d14.087889297991323!3d37.279279495673514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1310f072a8767377%3A0xe927c97b8fce4d8!2sIST.%20ISTR.%20SUP.%20%22C.M.%20CARAFA%22%20Mazzarino%20e%20Riesi%20-%20Sede%20associata%20Riesi!5e0!3m2!1ses!2ses!4v1652137009509!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        
        <div id="espacio" >
            
        </div>

        <br>

    </div>
    <app-footer></app-footer>
</body>