<body>
    <app-nav></app-nav>
    <br>
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <h1> Información Carlo Maria </h1>
        </div>
    </div>
    <br>


    <div class="row">
        <div class="col-md-7">
            <p id="historia">
                La escuela, situada en Mazzarino, es un edificio moderno de tres pisos, hay 33 clases
                escolares, 1 gimnasio, 3 laboratorios de informática, 1 laboratorio de idiomas. Las clases de la escuela
                son grandes, cómodas y soleadas la mayor parte del tiempo. Mazzarino es una ciudad muy antigua, su
                origen se remonta al siglo XIII. El estilo de vida es muy tranquilo e incluso un poco aburrido para los
                jóvenes, hay pocos pubs, no hay cines, teatros o discotecas, sólo hay una piscina y unos pocos campos de
                juego. La agricultura es la principal actividad económica.

                El año escolar comienza a mediados de septiembre y termina a principios de junio, tenemos una quincena
                de vacaciones en Navidad y 5 días en Pascua. Las clases comienzan a las 08.00 y terminan a las 14.00.
                <br><br>
                En la escuela hay cuatro tipos de cursos: <br>
                1) Liceo Clásico donde el latín y el griego son las asignaturas más importantes;
                <br>
                2) Liceo delle Scienze umane en el que los estudiantes se ocupan principalmente de Estudios Sociales;
                <br>
                3) Tecnico Commerciale (Contabilidad y Negocios)
                <br>
                4) Tecnico Geometri (Topografía y Construcciones)
                <br>
                5) Escuela secundaria (disciplinas predominantes: biología, ciencia, química, etc.)
                <br>
                6) Dirección del Instituto de Hostelería donde se forman los estudiantes para el catering y las
                instalaciones albeghiere
                <br>
                7) Dirección del Instituto de Textiles donde se forman los estudiantes en el campo de la moda y la
                sastrería.

                <br><br>
                Los alumnos que asisten caen en el cubo 14/19 y el total de alumnos 1320

                Los temas comunes para todos los cursos son: Italiano, Historia, Matemáticas, Inglés. Los estudiantes no
                sólo son de Mazzarino, sino también de Riesi y Butera, cerca de las ciudades. El ambiente social es
                amigable y relajado, no hay actos de vandalismo o intimidación. Los estudiantes se involucran en la
                mayoría de las decisiones que les conciernen.
                <br>
                Para mas información del I.E.S La Rábida te invitamos a ver nuestra <a id="web"
                    href="http://www.iisscmcarafa.edu.it/public/1/">Web Oficial</a>
            </p>
        </div>
        <div class="col-md-5">
            <img src="./assets/CarloMariaExt.jpg" alt="Carlo Maria Exterior">
            <img src="./assets/CarloMariaInt.jpg" alt="Carlo Maria Interior">

        </div>
    </div>
    <app-footer></app-footer>
</body>