<body>

  <app-nav></app-nav>
  <br>

  <div class="offset-md-4  col-md-4">
    <div class="input-group mb-3">
      <!--Buscar por Titulo-->
      <input type="text" class="form-control" placeholder="Buscar por título" [(ngModel)]="titulo" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="buscarTitulo()">
          Buscar
        </button>
      </div>
    </div>
  </div>

  <br>

  <div *ngFor="let tutorial of tutoriales" class="offset-md-4  col-md-4">
    <h2 class="text-center">
      {{ tutorial.titulo }}
    </h2>
    <p>
      {{ tutorial.descripcion }}
    </p>

    <img src="{{tutorial.imagen}}" alt="">
    <hr>
    <br>
  </div>



  <div id="espacio"></div>

  <br><br>



  <app-footer></app-footer>

</body>