<body>

    <app-nav></app-nav>

    <br><br><br><br><br><br><br><br><br><br>

    <br>
    <div id="espacio">
    </div>

    <div class="d-flex justify-content-center">
        <h1>
            <strong>Error 404</strong>
        </h1>
    </div>

    <div class="d-flex justify-content-center">
        <h4>
            Lo sentimos: la dirección no concuerda con ningun apartado de esta web
        </h4>
    </div>
<br><br>

    <div class="d-flex justify-content-center">
        <h4>
            <a routerLink="/home">Volver a la web</a>
        </h4>
    </div>


    <br><br><br><br><br><br><br><br><br><br>

    <app-footer></app-footer>

</body>