<body>

    <br>
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <h3> Bienvenido al Erasmus+ entre el IES La Rabida (Huelva) y el IISS Carlo Mª Carofa (Italia) </h3>
        </div>
    </div>
    <br>


    <div class="row">
        <div class="col d-flex justify-content-center">
            <a routerLink="/informacion_rabida">
                <img class="imagenes" src="./assets/RabidaInfo1.png" alt="Rabida Info">
            </a>
        </div>

        <div class="col d-flex justify-content-center">
            <a routerLink="/informacion_carlomaria">
                <img class="imagenes" src="./assets/CarloMariaInfo.png" alt="Carlo Maria Info">
            </a>
        </div>
        <div class="col d-flex justify-content-center">
            <a routerLink="/blog">
                <img class="imagenes" src="./assets/Blog.png" alt="Blog Rabida">
            </a>
        </div>
    </div>
    <br>

    <div class="row">
       

        <div class="col d-flex justify-content-center">
            <a routerLink="/contacto">
                <img class="imagenes" src="./assets/Contacto.png" alt="Contacto">
            </a>
        </div>
        <div class="col d-flex justify-content-center">
            <a routerLink="/login">
                <img class="imagenes" src="./assets/Login.png" alt="Login">
            </a>
        </div>

        <div class="col d-flex justify-content-center">
        </div>
    </div>

    <br>

    <div class="row">
        <div class="offset-md-1 col-12 col-md-6"><p id="presentacion">¡Bienvenido a nuestra página web! Pretende dar a conocer los objetivos, actividades y productos de nuestro proyecto ERASMUS+: PUNTO DE ENCUENTRO: LEONARDO DA VINCI. Los colegios colaboradores: IES Carlo María Carafa, S. Sint Ursula (Italia) e IES La Rábida (Huelva) han identificado la necesidad de concienciar sobre el Patrimonio Cultural y Natural local y los referentes culturales europeos, en concreto, Leonardo Da Vinci, en el 500 aniversario de su muerte. Esperamos que nuestro proyecto y esta web te ayuden a conocernos mejor a nosotros y a nuestro Patrimonio Cultural y Natural, a reconocer la influencia de la obra de Da Vinci en nuestra sociedad y a encontrar inspiración para seguir aprendiendo y creciendo como ciudadano europeo.</p></div>
        <div class="col-6 col-md-4">
            <br>
            <img id="erasmus" src="./assets/logo-erasmus-plus.png" alt="">
            <br><br><br>
            <img id="meeting" src="./assets/meeting-point.png">
        </div>
    </div>
    <br>
    <app-footer></app-footer>    
</body>