#espacio {
    padding-left: 900px;
    padding-right: 975px;
}

body {
    background: url(https://img.freepik.com/foto-gratis/fondo-acuarela-pintada-mano-forma-cielo-nubes_24972-1095.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}